body{
    background-color: gainsboro;
    margin: auto;
}
header{
    background-color:#14191e;
    height: 65px;
}

#img1 {
    margin-left: 40px;
    width: 150px;
    height: 70px;
}
.li1{
    float:left;
    font-size: large;
     margin-left: 30px;
}
 .ul1{
    margin-right: 30px;
    float: right;
}
.a1{
     text-decoration: none;
     color: white;
 }
#a1{
    color: aqua;
}

.article{
    border: 2px;
    padding:20px 20px 20px 20px ;
    margin-top:20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
}
.secondbt{
    color: silver;

}
.auther{
    color: silver;
}
.bpic{
     width: 150px;
    border-style: solid;
    border-width: 1px;
    border-color: silver;
    margin-top: 10px;
    margin-left: 30px;
}
.imgg{
    height: 90px;
}
table {
    border-collapse: collapse;
}

.table1 td,th {
    border: 1px solid gray;
}
.table2 td{
    border-style: hidden;
}
.table2 tr{
    height: 40px;
}
